# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Distribution / packaging
build/
*.egg-info/
*.spec

# Virtual environments
venv/
env/
.venv/
.penv/

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.swp
*~

# Miscellaneous
*.log
*.bak
*.tmp
.DS_Store
